@import '../../../../assets/styles/graphic-charter';

$header: 'header';

.#{$header} {
  background: $yellow-dark;
  position: fixed;
  width: 100%;
  z-index: 2;
  &__products {
    font-weight: bold;
  }
  &__link {
    &_active {
      font-weight: bold;
    }
  }
}
